<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Code Hipsters</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Roboto:400,100,300,500,700,900&amp;subset=latin,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="stylesheets/app-presenter.css">
    <script src="javascripts/vendor-presenter.js"></script>
    <script src="javascripts/app-presenter.js"></script>
    <script>
      require('scripts/initialize');
      
    </script>
    <script id="message" type="text/template">
      <div class="message min-height-message">
        <div class="message-icon-wrapper">
          <div class="message-icon"><% if (type == "inapp") { %><img src="message-icon.png" alt="Message icon" height="34" width="34"><% } %>
            <% if (type == "twitter") { %><img src="twitter-icon.png" alt="Twitter icon" height="34" width="34"><% } %>
          </div>
        </div>
        <div class="message-body-wrapper min-height-message-body-wrapper">
          <div class="message-body">
            <div class="message-header"><%= header %></div>
            <div class="message-content"><%= message %></div>
          </div>
        </div>
      </div>
    </script>
    <script id="participants-template" type="text/template">
      <div class="meter">
        <div class="count-next">0</div>
        <div class="count">0</div>
      </div>
      <div class="people"></div>
    </script>
  </head>
  <body>
    <div class="messages-container"></div>
    <div class="speed-indicator">
      <div class="left-background">
        <div class="slow-bar"></div>
      </div>
      <div class="right-background">
        <div class="fast-bar"></div>
      </div>
      <div class="middle show"></div>
    </div>
    <div class="reveal">
      <div class="slides">
        <section data-slide-name="bored-audience-1" data-background="bored-audience.png"></section>
        <section data-slide-name="interactivity" data-background="asians.png"></section>
        <section data-slide-name="participants">
          <h4>Зайдите с мобильного или планшета</h4>
          <h2 class="codehipsters">codehipsters.com</h2>
          <div class="participants-container"></div>
        </section>
        <section data-slide-name="how-to-use" class="how-to-use">
          <div class="iphone-mockup">
            <div class="slower-btn"></div>
            <div class="faster-btn"></div>
          </div>
          <div class="indicators">
            <div class="faster"></div>
            <div class="slower"></div>
          </div>
        </section>
        <section data-slide-name="naming-poll" class="naming-poll">
          <h4>Помогите выбрать название проекта</h4>
          <h5 class="poll-total"></h5>
          <div class="poll-container"></div>
        </section>
        <section data-slide-name="poll-results" class="poll-results">
          <h1 class="winner-name"></h1>
        </section>
        <section data-slide-name="contacts"><img src="code-hipsters-logo.svg">
          <h4>github.com/codehipsters</h4>
          <h4>vk.com/codehipsters</h4>
        </section>
      </div>
    </div>
  </body>
</html>